apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: jyotigpt
  name: jyotigpt-pvc
  namespace: jyotigpt
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 2Gi